$dark-moss-green: #606c38;
$white: #f2f2f2;
$transparent-white: rgba(242, 242, 242, 0.2);;
$light-moss-green: #c0cb9a;
$pakistan-green: #283618;
$cornsilk: #fefae0;
$earth-yellow: #dda15e;
$tigers-eye: #bc6c25;
$tigers-eye-highlight: rgba(188, 107, 37, 0.8);
$transparent-black: rgba(1, 0, 0, 0.3);